.CardButton {
    -webkit-appearance: none;
    width: 100%;
    background-color: #cccccc;
    color: #999999;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 23px;
    cursor: pointer;
  
    &:hover,
    &:active {
      background-color: #4f473e;
      color: #ffffff;
    }
  }